# .gitignore

# Python cache files
tests/__pycache__/
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# dist builds
dist

# Egg info
*.egg-info/

# If you are using any database
*.db
*.sqlite3

# If you are using any logging files
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# For MacOS
.DS_Store

# For other IDEs
.vscode/
.idea/

# Holds extra content
detritus/

# testing stuff
.hypothesis

tests/.pytest_cache
.pytest_cache

# ignore the absurdly huge jsonl file
# absurdly_huge.jsonl # actually, needed for CI

# deployment stuff
tests/version_increments/test_sink_version.py
tests/version_increments/dry_run_version.py
tests/readme_updates/*sink.md
tests/readme_updates/dry_run_README.md
tests/readme_updates/renamed_dry_run_README.md
tests/version_increments/renamed_dry_run_version.py

.mcp_server.pid

# using uv sometimes we get a build folder
build/