# .gitignore

# Python cache files
tests/__pycache__/
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# dist builds
dist

# Egg info
*.egg-info/

# If you are using any database
*.db
*.sqlite3

# If you are using any logging files
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# For MacOS
.DS_Store

# For other IDEs
.vscode/
.idea/

# Holds extra content
detritus/

# testing stuff
.hypothesis

tests/.pytest_cache
.pytest_cache